# =========================

# PYTHON

# =========================

**pycache**/
*.py[cod]
*$py.class

# =========================

# VIRTUAL ENV

# =========================

venv/
.env
.venv/

# =========================

# JUPYTER

# =========================

.ipynb_checkpoints/

# =========================

# SYSTEM FILES

# =========================

.DS_Store
Thumbs.db

# =========================

# IDE / EDITOR

# =========================

.vscode/
.idea/

# =========================

# LOGS

# =========================

*.log

# =========================

# TEST / CACHE

# =========================

.pytest_cache/
.cache/

# =========================

# DOCKER

# =========================

*.tar

# =========================

# DATA (VERY IMPORTANT)

# =========================

data/
Data/
